.alignView {
    font-size: 1em;
    width: auto;
    height: auto;
    overflow: x-auto;
	position: relative;
    cursor: pointer;
	border-top: 0.5em solid #eee;
}

DIV.tableWrapper TABLE {
    /*table-layout: fixed;*/
    font-size: 10pt;
	color: #000;
	position: inherit;
}

DIV.tableWrapper DIV.seqDiv {
     /* always show scrollbar even if not needed so content underneath doesn't jump (which it does with auto) */
    overflow-x: scroll;
    overflow-y: hidden;
	border-left: 8em solid #eee;
}

DIV.tableWrapper TABLE TH:first-child {
     width:8em;
}

DIV.tableWrapper TABLE THEAD {
    /* display: block; */
    margin: 0;
    background: #eee;
	height: 1em;
}

DIV.tableWrapper TABLE.seqTable TBODY TH:first-child {
    position: absolute;    /* 'fixed' caused overflow of container */
    overflow: hidden;
    text-overflow: ellipsis;
	left: 0;
}

DIV.tableWrapper TBODY {
    border-top: 0.5em solid #eee;
}

DIV.tableWrapper TD, DIV.tableWrapper TH {
    margin: 0;
    padding: 0em 0.1em;
    line-height: 1em;
    height: 1em;
}

DIV.tableWrapper TH {
    background: #eee;
	text-align: left;
}

DIV.tableWrapper THEAD TH {
    color: #668;
    padding: 0.2em 0.1em;
}


DIV.tableWrapper TABLE SPAN {
    white-space: pre;
}

.seqDelete {
    background: #88f;
}

.seqInsert {
    background: #8f8;
}

.seqVar {
	background: #fc6;
}

P.seq, TD.seq {
    font-family: Consolas, Courier;
}

/*
.alignView P.alignHeader {
    text-decoration: underline;
}
*/

DIV.checkHolder {
	padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 0;
    line-height: normal;
    max-height: 10em;
    overflow-y: auto;
	/* this makes the tabs appear to fill from the bottom up */
	display: flex;
	/*flex-wrap: wrap-reverse;*/
	flex-wrap: wrap;
}

/* allows breaking after a span tab but not in the label it contains */
DIV.checkHolder SPAN.alignTab:after {
    content: ' ';
}

/* Next 3 rules give a tab like appearance to input-label sibling pairs inside spans */
DIV.checkHolder SPAN LABEL {
    padding: 0em 0.4em;
    margin: 0;
    border-right: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-top-left-radius: 5px;
    white-space: nowrap;
}

DIV.checkHolder SPAN INPUT {
    display: none;
}

DIV.checkHolder SPAN INPUT:checked + label {
    background: white;
    border: 1px solid #888;
	border-bottom: none;
    color: #002;
}

DIV.alignSettings {
    padding-bottom: 0.5em;
    font-size: 1em
}

.controlBlock label {
    display: inline-block;
    width: 13em;
    margin-right: 0.2em;
}

.controlBlock input, .controlBlock select {
    font-size: 1em;
	line-height: 1em;
    padding: 0;
}

.controlBlock input[type=number] {
    width: 3em;
}

.alignSeqCount {
    color: #99b;
    font-size: 0.75em;
}

.alignSeqCount::before {
    content: " ";
}

.alignSeqCount::after {
    content: "";
}

.alignSettings .alignChoiceGroup input[type=radio] {
	vertical-align: text-bottom;
}

.alignSettings .alignChoiceGroup label:not(:last-of-type) {
	border-right: 1px solid #aaa;
	margin-right: 0.5em;
}