.alignView {
    font-size: 1em;
    width: auto;
    height: auto;
    background: #fff;
    overflow: x-auto;
    cursor: pointer;
}

.alignView TABLE {
    color: #000;
}

.alignView TD, .alignView TH, .alignView P {
    margin: 0;
    padding: 0em 0.1em;
    line-height: 1em;
    height: 1em;
}

.alignView TH {
    background: #eef;
    color: #668;
    padding: 0.2em 0.1em;
}


.seqDelete {
    background: #44a;
}

.seqMismatch {
    background: #f80;
}

P.seq, TD.seq {
    font-family: Consolas, Courier;
}

DIV.alignSettings {
    padding-top: 1em;
    font-size: 0.8em
}

.controlBlock label {
    display: inline-block;
    width: 10em;
    margin-right: 0.2em;
}

.controlBlock input, .controlBlock select {
    font-size: 1em;
    padding: 0;
}

.controlBlock input[type=number] {
    width: 3em;
}