#circularPanel DIV.circleDiv {
    background-color: #eee;
    height: 100%;
}

svg.circularView {
    width: 100%;
    height: 100%;
}

.circleLink {
    fill: none;
    stroke-width: 1px;
    stroke: #666;
    pointer-events: none;
}

.circleGhostLink {
    fill: none;
    stroke-width: 5px;
    stroke-opacity: 0;
    /*stroke: #fdc086;*/
    stroke: #ff0;
    pointer-events: stroke;
}


.circleGhostLink:hover {
    stroke-opacity: 0.5;
    stroke: #fdc086;
}


.selectedCircleLink {
    stroke-opacity: 0.5;
}

.highlightedCircleLink {
    stroke-opacity: 0.5;
    stroke: #fdc086;
}

.circleNode {
    stroke-width: 5px;
    fill: #dde;
}

.circleNode.selected {
    stroke: #ff0;
}

.circleNode.highlighted {
	stroke: #fdc086;
	fill: #dde;
}

.circleFeature {
    fill-opacity: 0.5;
}

.circleNode:hover, .circleFeature:hover {
    stroke: #fdc086;
}

.circularView .tick text {
    font-size: 0.5em;
    stroke: none;
    fill: #000;
    pointer-events: none;
}

.circularView .tick line {
    stroke: #000;
	stroke-width: 1px;
}

.justifyTick {
    transform: rotate(180deg)translateX(-16px);
    text-anchor: end;
}

.circularNodeLabel {
    text-anchor: middle;
    font-size: 0.75em;
    pointer-events: none;
    fill: #444;
}

.residueLetter {
    text-anchor: middle;
    font-size: 1em;
     pointer-events: none;
}

.niceButton {
	margin-left: 13px;
	margin-right: 0;
	padding-right: 0;
}