@charset 'UTF-8';
@import url("font-awesome.min.css");
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/lato/bold/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/bold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/bold/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/bold/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato/bold/Lato-Bold.svg#svgLato-Bold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/lato/regular/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/regular/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/regular/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS  */
       url('../fonts/lato/regular/Lato-Regular.svg#svgLato-Regular') format('svg');  /* Legacy iOS */
}

/* make printing print html background colours, works for chrome, other browsers may need checkbox set in print dialog */
@media print {
	body, html {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
		color-adjust: exact;
	}
}

/* Styles that can apply across projects, such as history, searchsubmit etc */


/* Common */
body, html{
    background: #fff;
    height:100%;
/*    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none; */
}
body, input, select, textarea {
    Font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
    -webkit-text-stroke: .15px;
}


/* Btn */
.btn {
    border: none;
    font-family: inherit;
    color: inherit;
    background: 0 0;/*#091D42;*/
    cursor: pointer;
    padding: 5px 15px;
    margin: 2px 5px 2px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn-1 {
    border: 1px solid #fff;
    color: #fff;
}
.btn-1a:active, .btn-1a:hover {
    color: #091D42;
    background: #fff;
}

button:disabled {
    color: #888;
    border-color: #888;
    /* display: none; */
}

.btn-1a:active:disabled, .btn-1a:hover:disabled {
    color: #444;
    background: #888;
    cursor: default;
}


/*tables*/
table {
    width:100%;
    font-size: 0.9em;
    left: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: white;
    text-align: left;
}
thead{
    margin-top:10px;
    margin-bottom:10px;
}
th{
    padding-left:5px;
    padding-right:5px;
    vertical-align: middle;
    height: 30px;
}
td{
    padding-left:5px;
    padding-right:5px;
    vertical-align: middle;
    text-align: left;
}
th:first-child{
    padding-left:10px;
}
th:last-child{
    padding-right:10px;
}
td:first-child{
    padding-left:10px;
}
td:last-child{
    padding-right:10px;
}
tbody tr:hover td, tbody tr:hover td a, .spectrumShown{
    color: #fff;
    background-color: #091D42;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}



#clmsErrorBox {
    z-index: 3;
    font-size: 2em;
    border: 4px solid red;
    margin-left: 3em;
    padding: 1em;
    position: absolute;
    line-height: normal;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    background: white;
}