.dropdown DIV {
    position: absolute;
    z-index: 5000;
    background: #091D42;
    padding: 0.2em 1em 0.2em 1em;
    border: 1px solid #fff;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    display: none;
    max-height: 80vh;
    overflow-y: auto;
}

.dropdown .menuTitle:hover {
    color: #091D42;
    background: #fff;
}

.dropdown DIV UL {
    list-style-type: none;
}

.dropdown DIV LI .btn {
    font-size: inherit;
    display: table-cell;
    width: 100%; 
    text-align: left;

}

.dropdown DIV LI:hover {
    color: #091D42;
    background: #fff;
}

.dropdown DIV HR {
    border: none;
    border-top: 1px dotted white;
    margin: 0;
    padding: 0;
}

.buttonPlaceholder > * {
    padding-left: 0;
    margin-left: 0;
}

.dropdown LI .btn {
    padding: 0;
}

.colourSwatchSquare {
    height: 0.8em;
    width: 0.8em;
    display: inline-block;
    margin-left: 2px;
}
