.distoDiv {
    background: #eee;
    display: table-row;
    height: 100%;
}

.overLengthGridRule text {
    transform: rotate(-90deg) translate(0,16px);
}

.distoDiv .c3-axis.c3-axis-x .tick:nth-of-type(10n+1) line {
    transform: scaleY(1.2);
}

.distoDiv .c3-axis .tick text {
    font-size: 1.3em;
    font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
}

.distoDiv .c3-title {
    font-size: 1.25em;
    font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
}

.distoDiv rect.c3-event-rect:hover {
    /*
    stroke: black;
    stroke-width: 1;
    stroke-opacity: 0.3;
    */
    fill-opacity: 0.1;
}
