input.filterTypeText {
    margin-right: 5px;
}

div.textFilters, div.toggles, div.numberFilters, div.scoreSlider > div {
    display: inline-block;
    vertical-align: top;
}

div.toggles input[type=checkbox] {
    margin-left: 0;
}

.textFilters span:after, .numberFilters span:after, .toggles span:after, .scoreSlider span:after {
    content: ' ';
    display: block;
}


div.textFilters:not(:first-child), div.toggles:not(:first-child), div.numberFilters {
    margin-left: 0.5em;
}

#filterReportPlaceholder {
    margin: 0 0.3em;
    line-height: 1.1em;
}
