#filterPlaceholder {
    display: inline-flex;
	position: fixed;
}

.filterControlGroup {
	position: relative;
	vertical-align: top;
    /*display: inline-block;*/
	display: inline-flex;
    padding: 0 0.35em 0 0;
	border-right: 1px solid #bbb;
	margin: auto 0.35em auto 0;
    height: 65px;
}

/*
.filterControlGroup:after {
	position: absolute;
	top: 0.25em;
	right: -0.25em;
	font-size: 3em;
	color: #bbb;
	content: '>';
	transform: scale(0.7, 3);
}
*/

/*
.filterControlGroup > div {
	margin-left: 0.5em;
}
*/

.filterControlGroup > div > label, .filterControlGroup div.scoreSlider {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.filterControlGroup input {
    line-height: 1.3em;
}

.filterControlGroup input[type=checkbox] {
    margin-left: 0;
}


div.filterControlGroup label {
	display: block;
}

div.filterControlGroup label:hover {
	background-color: white;
}


div.textFilters, div.toggles, div.scoreSlider > div, div.navNumberFilterDiv {
    display: inline-block;
    vertical-align: top;
}


.textFilters span:after, .toggles span:after, .scoreSlider span:after, .navNumberFilterDiv span:after {
    content: ' ';
    display: block;
}


.subsetNumberFilter {
    width: 4em;
}


.scoreSlider  {
    display: inline-block;
/*
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    padding: 0em 0.5em;
    margin: 0em 0.5em;
*/
}

.cutoffLabel {
	display: inline-block;
}

.cutoffLabel > span {
	display: inline-block;
	transform: scaleY(1.4);
}

.scoreSlider P:not(.cutoffLabel):last-child {
    line-height: 1.2em;
}

.scoreSlider .cutoffLabel input {
    width: 4em;
    color: black;
}

#fdrSummaryPlaceholder {
    display: inline-block;
}

#fdrSummaryPlaceholder p {
    display: inline-block;
    margin-right: 0.5em;
}

#filterReportPlaceholder {
    margin: 0 0.3em;
    display: inline-flex;
    white-space: pre;
    color: #00f;
}

#filterReportPlaceholder strong {
	transform: scale(1.1);
}


.filterResultGroup {
    position: absolute;
    right: 0;
    bottom: 0;
    background: inherit;
    border-top: 1px solid #aaa;
    /* border-right: 1px solid #aaa;
    border-top-right-radius: 5px; */
    line-height: 1.1em;
}

.decoysIrrelevant {
    display: none;
}

div.filterControlGroup label.noBreak2 {
	display: inline-block;
}

<<<<<<< HEAD
.sideOn {
    -ms-transform:rotate(270deg); /* IE 9 */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -o-transform:rotate(270deg); /* Opera */
    transform:rotate(270deg);
    display: inline-block;
    margin-top:20px;
=======
.tallButton {
	height: 100%;
	width: 1em;
	margin: 0 0.5em 0 0;
}

.fixedBottomRight {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 65px;
	width: 20px;
	background: #eee;
	padding: 0.2em;
>>>>>>> a351a85769420f46edb57fdda875260668eb25e2
}

.filterControlGroup input:invalid {
	background: pink;
}
