.goTermsView {
    display: none;
    left: 6em;
    top: 6em;
    width: 1000px;
    height: 500px;
}

 .goTermsView svg {
    height: 100%;
    width: 100%;
    /* position: absolute; */
    /* shape-rendering: crispedges; */
}

/* .node {
    cursor: pointer;
}

.node circle {
    fill: #000;
    stroke-width: 1px;
}

.node text {
    font: 12px sans-serif;
    dominant-baseline: middle;
    margin-left: 5px;
}


.bcNode {
    fill: #eee;
    stroke-width: 1px;
}


.goLink {
    fill: none;
    stroke: #aaa;
    stroke-width: 1px;
} */
/* .node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
} */


.goLink {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}


div.goTermsView > div > div.panelInner {
  /* overflow: scroll; */
}


#chart {
  height: 500px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link:hover {
  stroke-opacity: .5;
}
