/* These are styles used to represent elements in the key/legend window
Ideally, they should use the same css rules as the actual visualisation elements so
changes there are automatically reflected in the legend
*/

/* crosslink styles */

.monochrome {
    stroke: #222;
    fill: none;
}

.ambiguous {
    stroke-dasharray: 5;
}

.multiLinkStroke {
    stroke: #bbb;
    stroke-width: 11px;
    fill: none;
}

.homomultimer {
    color: red;
    stroke: red;
    stroke-width: 1.5px;
}

.filled {
    fill: #000;
}

.highlighted {
    fill: #fdc086;
    background-color: #fdc086;
}

.peptideAAText {
    font-family: 'Courier New', monospace;
    font-size: 10px;
    text-anchor: middle;
}

.miniKey {
    width: 52px;
    height: 30px;
    shape-rendering: crispEdges;
    background: white;
    padding-left: 1px;
}

.scatterNormal {
	stroke: none;
	fill: #f8f;
}

.scatterDecoy {
	stroke: #f8f;
	fill: none;
}

.scatterAmbig {
	stroke: #f8f;
	stroke-dasharray: 3;
	fill: #fbf;
}

.highlighted.scatterNormal {
	stroke: black;
	fill: #f80;
}

.selected.scatterNormal {
	stroke: black;
	fill: yellow;
}

.seqDelete {
	fill: #88f;
}

.seqInsert {
	fill: #8f8;
}

.seqVar {
	fill: #fc6;
}

.antialias {
	shape-rendering: geometricprecision;
}

.annotationLegend {
	fill: #8ff;
	stroke: #4bb;
}

/* For the panels used to render legend, should be separate (and merged with those in ProteinViewInfo) */
.keyPanel.verticalFlexContainer .panelInner {
    overflow-y: auto;
}

.keyPanel img {
    padding: 0.5em;
    background: #091d42;
    align-self: center;
}

.keyPanel tr {
    line-height: 1.3em;
    border-top: 1px solid #eee;
}


.keyPanel input[type='color'] {
    cursor: pointer;
}

.keyPanel input[type='color']:hover {
    border: 1px solid black;
}

.keyPanel input[disabled] {
	background: #ccc;
	opacity: 0.25;
}

.keyPanel input[disabled]:hover {
	border: 1px solid #a9a9a9;
}

.keyPanel .toolbar {
	margin-bottom: 0.5em;
}

.groupHeader {
	padding-top: 0.25em;
	border-top: 2px solid #aaa;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	color: #668;
}

.keyPanel .panelInner div:first-of-type .groupHeader {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}

.keyPanel .downloadButton3 {
	margin-top: 0.5em;
}

.keyPanel .selectHolder {
    display: block;
    background-color: #eee;
}

.keyPanel .colourKeyBottomGap {
    margin-bottom: 1.5em;
}

.keyPanel .sectionTable H2 {
    text-transform: capitalize;
}
