.listView table.d3table tbody tr:hover td {
	color: #222;
    background: inherit;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    /*border-top-color: #444;
    border-bottom-color: #444;*/
}

.listView table.d3table {
	table-layout: auto;
}

.listView table.d3table tbody tr td {
	color: #091d42;
	font-size: 1.2em;
	border: 3px solid transparent;
}

.listView table.d3table tbody tr:nth-child(2n) {
	background: #eee;
}

.listView table.d3table thead th {
	padding: 0 2px;
}

.listView TD.number {
	text-align: right;
	font-family: "Courier", monospace;
	font-weight: bold;
}

.listView label.btn.staticLabel {
	color: mediumpurple;
	padding-left: 0;
	padding-right: 0;
}

.listView label.btn.staticLabel:hover {
	background: inherit;
}

.listView .ms-parent, .listView .ms-parent span {
	font-family: "Lato-Bold", Helvetica, Arial, sans-serif;
	color: #091d42;
}

.listView .ms-parent button {
	border-color: #091d42;
}

table.heatmap.d3table {
	margin-left: 0;
	margin-right: 0;
	min-width: 1em;
	table-layout: fixed;
	overflow: hidden;
}


.listView table.heatmap.d3table tbody tr {
	line-height: 5px;
	height: 5px;
	border: none;
	background: inherit;
} 

.listView table.heatmap.d3table tbody tr:nth-child(2n) {
	line-height: 5px;
	height: 5px;
	border: none;
	background: inherit;
} 

.listView table.heatmap.d3table tbody tr td {
	border: none;
	width: 10px;
	max-width: 10px;
	font-size: 0;
	line-height: 0.5em;
	height: 0.5em;
} 

.listView table.heatmap.d3table tbody tr td.showText {
	font-size: 0.5em;
}

.listView table.heatmap.d3table thead th {
	height: inherit;
	text-overflow: clip;
} 

.listView table.heatmap.d3table thead th .d3table-filterInput/*, .listView table.heatmap.d3table thead th .d3table-arrow*/ {
	display: none;
}

.listView table.heatmap.d3table thead th span.d3table-headerSpan {
	transform: rotate(90deg) translate(-4em, 3.5em);
    display: inline-block;
	width: 1em;
    height: 10em;
} 

.dlink {
	stroke: #222; 
	fill: none;
}

.dnode {
	fill: black;
	stroke: none;
	display: none;
}

.dnone node--internal {
	fill: cyan;
	stroke: none;
}

svg.dendroContainer {
    min-width: 170px;
    overflow: visible;
}

g.dendro {
	shape-rendering: crispEdges;
	font-size: 5px;
	font-family: Arial, sans-serif;
}

.dendrogramTitle {
	font-size: 0.5rem;
	font-family: Arial, sans-serif;
	text-anchor: middle;
}

input.group {
	width: 2.6em;
	line-height: 1rem;
    margin-right: 1em;
}

.listView .ms-drop {
	width: auto;
	min-width: 100%;
}

.listView .ms-drop li label {
	display: inline-block;
}

.listView select.selectMinWidth {
	width: 12em;
}

.listView .regexInput {
	width: 6em;
}