.listView table.d3table tbody tr:hover td {
	color: #222;
    background: inherit;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    /*border-top-color: #444;
    border-bottom-color: #444;*/
}

.listView table.d3table {
	table-layout: auto;
}

.listView table.d3table tbody tr td {
	color: #091d42;
	font-size: 1.2em;
	border: 3px solid transparent;
}

.listView table.d3table tbody tr:nth-child(2n) {
	background: #eee;
}

.listView table.d3table thead th {
	padding: 0 2px;
}

.listView TD.number {
	text-align: right;
	font-family: "Courier", monospace;
	font-weight: bold;
}

.listView table.heatmap.d3table tbody td {
	line-height: 0.5em;
	height: 0.5em;
} 

.listView table.heatmap.d3table tbody tr {
	line-height: 5px;
	height: 5px;
	border: none;
} 

.listView table.heatmap.d3table tbody tr td {
	border: none;
	width: 10px;
	max-width: 10px;
	font-size: 0.5em;
} 

.listView table.heatmap.d3table thead th {
	min-width: 1em;
	height: inherit;
} 

.listView table.heatmap.d3table thead th .d3table-filterInput {
	display: none;
} 

.listView table.heatmap.d3table thead th .d3table-arrow {
	display: none;
} 