label { 
    display: inline-block;
    min-width: 8em;
}

.control-group {
    margin-bottom: 1em;
    color: #44a;
}

.pageMargin {
    margin: 1.4em;
}

.login input {
    border: 1px solid #44a;
    margin: 0;
    color: #44a;
}

input[type=text], input[type=password] {
    padding-left: 0.5em;
    line-height: 1.4em; /* both needed for cross-browser alignment with label text */
    height: 1.4em;
}

.login input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #888;
}

.login input::-moz-placeholder { /* Firefox */
    color: #888;
    opacity: 1;
}

.error {
    display: none;
    color: red;
    margin-left: 1em;
    padding: 0.2em 0.5em;
    background: yellow;
    border-radius: 0.5em;
}