.viewport {
    overflow: hidden;
}

#matrixPanel {
	left: 80px;
	width:500px;
	height:400px;
}
#matrixPanel svg {
    height: 100%;
    width: 100%;
}
#matrixPanel text {
    text-anchor: middle;
}

#matrixPanel canvas {
    /*image-rendering: pixelated;*/
    image-rendering: -moz-crisp-edges;          /* Firefox */
    -ms-interpolation-mode: nearest-neighbor;   /* IE */
    image-rendering: pixelated;                 /* Opera 'n' Chrome */
    -ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

#matrixPanel .viewDiv {
    width: auto;
    height: 100%;
}

#matrixPanel .buttonColumn {
    width: 200px;
    float: right;
    height: 50px;
}