.viewport {
    overflow: hidden;
}

#matrixPanel{
	left: 80px;
	width:500px;
	height:400px;
}
#matrixPanel svg {
    height: 100%;
    width: 100%;
}
#matrixPanel text {
    text-anchor: middle;
}

#matrixPanel canvas {
    image-rendering: pixelated;
    -ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}