/* martin - i'm putting css changes for the network /results page
 * in this new file, rather than add more to style.css.
 * Might help tidy up style.css*/

#xiNetControlsButton{
	float: right;
}

#xiNetControlsPanel {
    /* right:0px; */
	/* width: 710px;
	text-transform: none; */
	border-left: 1px solid #eee;
	float: right;
    background-color: #091D42;
	z-index: -1;
}

#autoLayoutButton{
	margin-left: 0px;
}

#loadLayoutButton{
	display: inline-block;
}

#toggles_decoys {
	display: none;
}
#toggles_linears {
	display: none;
}
#toggles_crosslinks {
	display: none;
}
/*
#colorSelector{
	display: none;
}
#spectrumControls label#colorSelectorLabel{
	display: none;
}
*/

/* xinetcontrol panel */
.xinetButtonBar {
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.layoutLabel {
	letter-spacing: 1px;
	margin-left: 0.5em;
}
