/* martin - i'm putting css changes for the network /results page
 * in this new file, rather than add more to style.css.
 * Might help tidy up style.css*/

#xiNetControlsButton {
    float: right;
}

/* xinetcontrol panel */
#xiNetButtonBar {
    /* border-left: 1px solid #eee; */
    float: right;
    background-color: #091D42;
    text-transform: uppercase;
    /* padding-left:15px; */
}

#autoLayoutButton{
    margin-left: 0px;
}

#loadLayoutButton{
    display: inline-block;
}

#toggles_decoys {
    display: none;
}
#toggles_linears {
    display: none;
}
#toggles_crosslinks {
    display: none;
}
/*
#colorSelector{
    display: none;
}
#spectrumControls label#colorSelectorLabel{
    display: none;
}
*/

.layoutLabel {
  padding-left: 10px;
  padding-right: 5px;
}

#xiNetButtonBar > .sectionDividerLeft {
    border-left: 1px solid rgba(255,255,255,255);
    margin-left: 0.5em;
}
