.overlayInfo {
    position: absolute;
    color: #666;
	padding: 0 0.5em;
	background: rgba(255, 255, 255, 0.7);
}

.outsideLink {
    color: #666;
}

.outsideLink:hover {
    color: #9f9;
}

label.btn input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fakeButton {
    display: inline-block;
    /*vertical-align: top;*/
    /*height: 32px;*/
    margin-bottom: 0.2em;
    padding-top: 2px;
    padding-bottom: 2px;
}

.inputPDBCode {
    margin-left: 0.5em;
}
