.scatterplotView {
    display: none;
    left: 6em;
    top: 6em;
    width:500px;
    height:500px;
}

.scatterplotView svg {
    height: 100%;
    width: 100%;
    position: absolute;
}

.scatterplotView text {
    text-anchor: middle;
}

.scatterplotView canvas {
    image-rendering: -moz-crisp-edges;          /* Firefox */
    -ms-interpolation-mode: nearest-neighbor;   /* IE */
    image-rendering: pixelated;                 /* Opera 'n' Chrome */
    -ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

/* For svg output */
.scatterplotView image {
    image-rendering: -moz-crisp-edges;          /* Firefox */
    -ms-interpolation-mode: nearest-neighbor;   /* IE */
    image-rendering: pixelated;                 /* Opera 'n' Chrome */
}

.scatterplotView .viewDiv {
    width: auto;
    height: 100%;
}

.scatterplotBackground {
    fill: #ddd;
}

.scatterplotView .brush .extent {
  fill-opacity: 0.2; 
}

.scatterplotView .brush .resize text {
    text-anchor: start;
    font-size: 0.8em;
}

.scatterplotView .brush .resize.e text {
    transform: rotate(90deg);
}
