.pager {
    display: inline-block;
}
.panelHeading {
    display: inline-block;
}

.selectView {
    height: calc(100%);
    overflow: hidden;
}

.selectView {
    height: calc(100%);
    overflow: hidden;
}

.selectView > DIV.scrollHolder {
    height: calc(100% - 30px);
    overflow: auto;
}

.selectView TABLE  {
    border-collapse: separate;
}

.selectView TABLE TH  {
    vertical-align: top;
}

.selectView tbody tr:nth-child(odd) {
    background: #e8e8ff;
}

.selectView TBODY TR:first-child {
    background: #99f;
    color: #444;
    font-size: 1em;
}

/* this replaces a .selectView TBODY rule which deosn't work when border-collapse is set to separate */
.selectView TBODY TR:first-child TD {
    border-top: 2px solid #668;
}

.selectView TBODY TR.matchRow td:not(:first-child), .selectView THEAD TR th:not(:first-child) {
    border-left: 1px solid #ddd;
}

.selectView THEAD TR {
    line-height: 1.5em;
    height: 1.5em;
}

.selectView TBODY TR {
    white-space: nowrap;
    line-height: 1.8em;
    height: 1.8em;
}

.selectView TR.matchRow {
    line-height: 1.1em;
    height: 1.1em;
}

.selectView TBODY TR.matchRow td.colSectionStart:not(:first-child), .selectView THEAD TR th.colSectionStart:not(:first-child) {
    border-left: 3px solid #bbb;
}

.selectView TD.number {
    text-align: right;
}

.selectView TD.monospaced {
    font-family: monospace;
    font-size: 1.1em;
}

.selectView tbody TR.spectrumShown2 {
    color: black;
    background: #afa;
}

.crossLinkTotal{
	color:white;
}
