.selectView {
    height: 100%;
    overflow: hidden;
}

.selectView > DIV.scrollHolder {
    /* height: calc(100% - 45px); */
    flex-grow: 1;
    overflow: auto;
	min-height: 1px;
}

.selectView TABLE  {
    border-collapse: separate;
}

.selectView TABLE TH  {
    vertical-align: bottom;
}

.selectView THEAD {
    background: #eee;
}

.selectView tbody tr:nth-child(odd) {
    background: #e8e8ff;
}

.selectView TBODY TR:first-child {
    background: #99f;
    color: #444;
    font-size: 1em;
}

/* this replaces a .selectView TBODY rule which doesn't work when border-collapse is set to separate */
.selectView TBODY TR:first-child TD {
    border-top: 2px solid #668;
}

.selectView TBODY TR.matchRow td:not(:first-child), .selectView THEAD TR th:not(:first-child) {
    border-left: 1px solid #ddd;
}

.selectView THEAD TR {
    line-height: 1.3em;
    /*height: 1.5em;*/
}

.selectView TBODY TR {
    white-space: nowrap;
    line-height: 1.8em;
    height: 1.8em;
}

.selectView TR.matchRow {
    line-height: 1.1em;
    height: 1.1em;
}

.selectView TBODY TR.matchRow td.colSectionStart:not(:first-child), .selectView THEAD TR th.colSectionStart:not(:first-child) {
    border-left: 3px solid #bbb;
}

.selectView TD.number {
    text-align: right;
}

.selectView TD.monospaced {
    font-family: monospace;
    font-size: 1.1em;
}

.selectView span.linkedResidue {
    color: #000;
    font-weight: bold;
}

.selectView TD.maxWidth {
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selectView TD.minWidth {
    min-width: 6em;
}

.selectView TD.emphasise {
	font-weight: bold;
	transform: scaleX(1.1);
}

.selectView tbody TR.spectrumShown2 {
    color: black;
    background: #afa;
}

.selectView .controlBar {
    background: #091d42;
    color: white;
    padding: 0.25em 0;
    flex-shrink: 0;
}

.selectView .controlBar > span {
    padding-left: 1em;
}

.pager input {
    margin-left: 0.5em;
    margin-right: 0.4em;
}

.buttonPressed {
    color: #091D42;
    background: white;
}

/* stop firefox making massive number box */
.selectView input[type='number'] {
    max-width: 3.5em;
}

.selectView .pager:before {
    content: "Page";
}

.selectView TR.matchRow.highlighted {
    fill: #fdc086;
    background-color: #fdc086;
    color: #222;
}

.selectView tbody tr:hover td, .selectView tbody tr:hover td a {
    color: inherit;
    background-color: inherit;
    -webkit-transition: initial;
    -moz-transition: initial;
    -ms-transition: initial;
    -o-transition: initial;
    transition: initial;
}

.selectView .rightSpan {
	float: right;
}

.dynDiv .rightSpan label:hover {
    background: inherit;
}

.selectionTableHideToggle {
	display: none;
}

#alternatives .selectionTableHideToggle {
	display: inline-block;
}

.selectView .smallText {
	font-size: 0.8em;
    color: #a8a8a8;
}

.selectView tr:hover .smallText, .selectView TR.matchRow.highlighted .smallText, .selectView TR.spectrumShown2 .smallText {
    color: inherit;
}

.selectView input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.selectView input[type=number]::-webkit-inner-spin-button, 
.selectView input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.btnIncr {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
