#spectrumControls {
    /*display: table-row;*/
    flex-shrink: 0;
}

#spectrumControls div {
    padding-bottom: 0.3em;
    border-bottom: 1px solid grey;
}

#spectrumControls label {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#spectrumControls input {
    vertical-align: text-top;
    line-height: normal;
}
     
#spectrumControls form {
    display: inline-block;
    border-left: 1px solid #091d42;
    border-right: 1px solid #091d42;
}

#spectrumControls form > * {
    margin-right: 0.3em;
    vertical-align: middle;
}

/* Important, let's the div with this class take up the remaining height inside a div declared with display:table */
.heightFill {
    /*display: table-row;*/
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
    background: #fff;
}

.validationControls {
	padding:5px;
	background: white;
    flex-shrink: 0;
/*
    display: table-row;
*/
}

#spectrumSVG {
    width: 100%;
    height: 100%;
}

#measureTooltip {
    position: absolute;
    /*max-width: 8em;*/
    text-align:center;
    pointer-events:none; /*let mouse events pass through*/
    /*transition: opacity 0.3s;*/
    color: black;
    background: rgba(230,230,230,0.4);
    padding: 0.2em;
    border: 1px solid rgba(128,128,128,0.5);
    line-height: normal;
}

#alternatives {
/*
	margin-left: 10px;
*/
    padding: 0 10px;
    height:200px;
    flex-shrink: 0;
}

.scrollHolder {
    color: #888;
}

#spectrumControls .spectrumDisabled, #spectrumControls .spectrumDisabled:hover {
    color: #ccc;
    background: #eee;
    border-color: #ccc;
}

.CLMSUIspectrumWrapper input[type='submit'] {
    display: none;
}
