/* Styles specific to xi3 visualisation page */

span, label {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.highlighted {
    stroke: #fdc086;
}

/* class not named .background as that clashes with d3 brush stuff */
.backdrop {
	background: #eee;
	background-color: #eee;
}


#hiddenProteinsMessage{
  display: none;
  z-index: 1;
  position: fixed;
  overflow: hidden;
  white-space: nowrap;
  background-color: #091D42;
  color: #fff;
  padding:10px;
  margin: 10px;
  top: 46px;
  left: 10px;
  text-align: right;
}

.showHidden{
  margin: 0px;
}

/* fa */
.fa-xi {
    font-size:1.5em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor:pointer;
    padding: 0 1px;
	user-select: none;
}
.fa-xi:hover {
    color: #091D42;
    background:white;
}
.fa-times-circle, .hideToolbarButton, .takeImageButton {
    vertical-align:baseline;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor:pointer;
    float:right;
    margin:2px;
    margin-right:22px;
}
.hideToolbarButton, .takeImageButton {
    margin-right: 0.5em;
}

.fa-times-circle, .hideToolbarButton, .takeImageButton {
    color: white;
}

.fa-times-circle:hover, .hideToolbarButton:hover, .takeImageButton:hover {
    color: #091D42;
    background:white;
}


.centre {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.page-header{
    height:35px;
    padding-left: 10px;
    background-color: #091D42;
    color: #fff;
    position: absolute;
    /* increased z-index to 50 so it's children (i.e. drop-down menus) overlay floating windows */
    z-index: 50;
    width: 100%;
}

.headerLabel{
    text-transform: uppercase;
    margin-right:10px;
}

/* network page */
#main {
    height:100vh;
    width:100vw;
    /* position: absolute; */ /* because this stops menus overlaying views */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow:hidden;
    z-index:0;
}

#main .mainContent {
    top: 0px;
    bottom: 65px;
    position: absolute;
    width: 100%;
    overflow: none;
}

.page-header p {
    display: inline-block;
    padding-right:1px;
    padding-left:10px;
}


#topDiv {
    overflow:hidden;    /* restored so xinet shrinking / expanding context menu doesn't trigger scroll bars */
    position: relative; /* necessary so colour slider it contains can trigger overflow and resize events */
}

#networkDiv {
    width:100%;
    height:100%;
    display:block;
}

#spectrumDiv {
    background-color: white;
    height: calc(100% - 40px);
}

.histoLabel{
    color:black;
}
.dist{
    height:100px;
}
.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
}

.peakAnnot{
    font-size:12px;
}
.fragBar{
    stroke-width:1.3px;
    stroke-linecap:round;
}


.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

#bottomDiv {
    /*background: rgba(9, 29, 66, 0.9);*/
    padding:0px 10px;
    position: relative; /* will overlay previous absolute divs i.e. distance slider */
}
.noMarg{
    margin:0px!important;
}

.dynDiv, .xispec_dynDiv{
    padding:20px 10px;
    /*background: rgba(9, 29, 66, 0.9);*/
    overflow: hidden;
    color:#091d42;
    position:fixed;
    pointer-events:all;
    background: rgba(224,224,224,0.9);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border: 1px solid #888;
/*
    height:400px;
*/
}
.dynDiv_moveParentDiv, .xispec_dynDiv_moveParentDiv{
    height:20px;
    background:#091D42;
}

.draggableCorner {
    width:20px;
    height:20px;
    background:#091D42;
    border:none;
    background-image:url("../images/tl.png");
}

/* just need 1 background image and rotate it for corner orientations */
.dynDiv_resizeDiv_tr {
    transform: rotate(90deg);
}
.dynDiv_resizeDiv_bl {
    transform: rotate(270deg);
}
.dynDiv_resizeDiv_br {
    transform: rotate(180deg);
}

.dynDiv .btn-1 {
    color: #091d42;
    border-color: #091d42;
}

/* window drop-down menus should have grey background */
.dynDiv .dropdown DIV {
    background: #ddd;
}

/* Buttons in window drop-down menus shouldn't have borders */
.dynDiv .dropdown LI .btn-1 {
    padding: 0.25em 1em;
    border: none;
}

.dynDiv .dropdown LI .btn-1a:hover {
    background: transparent;
}

.dynDiv label:hover {
    background: white;
}

.panelInner {
    overflow: hidden;
    height:100%;
    width:100%;
    text-align: left;
    display:block;
}

.panelInner th {
    font-weight: 400;
    color: #039;
    height: 30px;
}

.panelInner thead td {
    color: #091D42;
}

.panelInner td, .helpPanel td {
    color: #777;
}

#main .controls{
    overflow-y: hidden;
	overflow-x: visible;
    /*display: table-row;*/

    position: fixed;
    bottom: 0;
    height: 65px;

    border-top: 1px solid #ccc;

    width: 100%;
    background:#ecedf2;
    color:#091D42;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#keyPanel, #spectrumPanelWrapper, #spectrumSettingsWrapper, #nglPanel, #distoPanel, #alignPanel, #proteinInfoPanel, #circularPanel, #clmsErrorBox, #csvPanel, #searchSummaryPanel, #urlSearchBox, #xiNetHelpPanel, #listPanel {
    display: none;
    top: 80px;
}

.metaLoadPanel {
    display: none;
    top: 80px;
    left: 40px;
}

#keyPanel{
    left: 10px;
    height: 35em;
    width: 45em;
	min-height: 25em;
	min-width: 45em;
}

#listPanel {
	left: 2em;
	height: 40em;
	min-height: 20em;
	width: 60em;
	min-width: 20em;
}

#searchSummaryPanel{
    left:10px;
    width:40em;
    height:40em;
	min-width: 35em;
	min-height: 20em;
}

#spectrumPanel{
    width: 100%;
    height: 100%;
}
#spectrumPanelWrapper{
    left: 280px;
    width: 750px;
    height: 600px;
}
#spectrumSettingsWrapper{
  left: 200px;
  top: 100px;
  width: 600px;
  height: 550px;
  min-width: 550px;
  min-height: 530px;
}
#nglPanel{
    left: 40px;
    width: 60em;
    height: 50em;
	min-width: 45em;
	min-height: 30em;
}
#distoPanel{
    left: 40px;
    width:50em;
    height:35em;
	min-width: 40em;
	min-height: 25em;
}

#circularPanel {
    left: 40px;
    width: 40em;
    height: 45em;
	min-width: 20em;
	min-height: 30em;
}

#proteinInfoPanel {
    left: 40px;
    width: 40em;
    height: 40em;
	min-width: 30em;
	min-height: 20em;
}

#scatterplotPanel {
	left: 40px;
	width: 45em;
	height: 45em;
	min-width: 35em;
	min-height: 35em;
}

#urlSearchBox {
	left: 60px;
}

#matrixPanel {
	left: 40px;
	width: 40em;
	height: 50em;
	min-width: 15em;
	min-height: 30em;
}

.verticalFlexContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.horizontalFlexContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dynTitle, .xispec_dynTitle {
    position: relative;
    left: 30px;
    top: -2px;
    letter-spacing: 0.5px;
    font-size: 0.9em;
    color: white;

}

#alignPanel{
    left: 40px;
    width: 70em;
	min-width: 30em;
    /*height:80px;*/
}

label.horizontalFlow:not(:last-child) {
    display: inline;
    border-right: 1px solid grey;
    margin-right: 0.4em;
}

label.horizontalFlow input[type=number] {
    margin-left: 0.2em;
}

/* See http://jsfiddle.net/7jx02upg/1/ */
label.horizontalFlow input[type=radio], label.horizontalFlow input[type=checkbox] {
    vertical-align: normal;
}

/* <label class='horizontalFlow'><span class='noBreak'>stuff you dont want split over multiple lines</span></label><more labels n spans...>

/* span.noBreak asks for no line-breaks internally */
.noBreak {
    white-space: nowrap;
}

span.noBreak select {
    margin-left: 0.5em;
}

/* and then put spaces after labels to give a known place for content to break */
label.horizontalFlow::after, #nglPanel label.btn::before, #pdbPanel label.btn::before, .matrixView label.btn::before, .scatterplotView label.btn::before {
    content: " ";
}

#pdbPanel .prompt {
	font-size: 1.4em;
	vertical-align: middle;
	padding: 0 0.5em;
}

#pdbPanel .promptEnter {
	vertical-align: middle;
	padding: 0 0.5em;
}

#pdbPanel .toolbar {
	display: flex;
	flex-wrap: wrap;
}

#pdbPanel .toolbar .verticalFlexContainer {
	display: flex;
}

#pdbPanel button i.fa {
	padding-left: 0.4em;
	vertical-align: sub;
}

A.btn {
    text-decoration: none;
}

.nopadRight {
	padding-right: 0;
}

.nopadLeft {
	padding-left: 0;
}



/* For use with Split.js */

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative; /* will overlay previous absolute divs i.e. distance slider */
}

.gutter.gutter-horizontal {
  background-image: url('../images/grips/vertical.png');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image: url('../images/grips/horizontal.png');
  cursor: ns-resize;
}

.fdrCalculation {
    display: inline-block;
}

.btn:disabled {
    color: #ccc;
    border-color: #ccc;
}

.brushValueText {
    font-size: 0.75em;
    fill: #ddd;
    stroke: none;
}

.axis {
    shape-rendering: crispEdges;
}


.sectionTable .tableShown {
    background: #ccc;
}

.sectionTable .tableShown svg {
    transform: rotate(90deg);
}

.sectionTable h2 {
    width: 100%;
    cursor: pointer;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.sectionTable h2 svg {
    margin-right: 1em;
    width: 16px;
    height: 16px;
    fill: white;
    stroke: #888;
	shape-rendering: crispedges;
    vertical-align: sub;
}

.sectionTable h2:hover {
    background: white;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.sectionTable table td:first-child, .sectionTable table th {
    text-transform: capitalize;
}

.sectionTable tbody tr > td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid transparent;
}

.sectionTable tbody tr:hover td {
	color: #777;
    background: inherit;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    /*border-top-color: #444;
    border-bottom-color: #444;*/
}

.sectionTable table {
	border-collapse: separate;
}

.sectionTable table table {
    border: 1px solid gray;
}

.expectedFormatPanel .sectionTable tbody td:first-child {
    background: #ddd;
}



.toolbar {
    margin-bottom: 0.15em;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    flex-shrink: 0; /* fixes toolbar overflow in ie11 */
}

div.columnbar[disabled], div.columnbar[disabled], label.fakeButton[disabled] {
	color: grey;
	pointer-events: none;
	border-color: grey;
}

.toolbar button {
    margin-bottom: 0.2em;
}

.toolbar span select {
    text-transform: capitalize;
}

.toolbar > * {
    display: inline-block;
}

.toolbar > .sectionDividerRight {
	border-right: 1px solid rgba(0,0,0,0.5);
	margin-right: 0.5em;
	padding-right: 0.5em;
}

.toolbar > .sectionDivider2 {
	border-right: 1px solid rgba(0,0,0,0.5);
	margin-right: 0.5em;
	padding-right: 1em;
}

.toolbar > .dashedBorder {
	border-right-style: dashed;
}

.toolbar > .sectionDividerLeft {
	border-left: 1px solid rgba(0,0,0,0.5);
	margin-left: 0.5em;
	padding-left: 0.5em;
}

.toolbar hr.toolbarSeparator {
    display: block;
    margin: 0.4em 0 0 0;
}

.pdbWindowButton {
	vertical-align: text-bottom;
}

button.pdbWindowButton {
    margin-bottom: 2em;
}

DIV.messagebar {
	font-size: 1.4em;
	height: 3em;
}

/* if div has class 'messagebar' give it this style providing it is not the last div in its container (it's different to div.messageBar) */
DIV[class='messagebar']:not(:last-of-type) {
	margin-bottom: 0.15em;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

.expectedFormatPanel {
	margin-bottom: 0.15em;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

.expectedFormatPanel TABLE TBODY {
	color: grey;
	font-size: 0.7rem;
	font-family: monospace;
}


/* tweaks to jsonview */

.jsonview {
	line-height: 1.2em;
}

.jsonview ul ul ul ul {
	background: #ccc;
}

.jsonview ul ul ul ul ul ul {
	background: #bbb;
}

.jsonview ul.array {
	list-style:decimal;
	list-style-position: inside;
}

.jsonview .collapser {
	top: 0;
}

.jsonview .collapser:hover {
	background: white;
	font-weight: normal;
}

.jsonview .collapser + .prop:hover {
	background: white;
}

.jsonview .prop {
	cursor: default;
}

.jsonview .collapser + .prop {
	cursor: pointer;
}

svg.tempKey {
	text-transform: initial;	/* reset text-transforms for temporary svgs */
	letter-spacing: 0;
	font-family: "Helvetica";
    font-size: 12px;
}

svg.tempKey text.imageOrigin {
    font-size: 8px;
}

svg.tempKey a.imageOrigin text {
    fill: blue;
}

svg.tempKey .keyTitle {
	font-style: italic;
}

svg.tempKey .keyPoint rect {
	shape-rendering: crispedges;
	stroke-width: 1px;
	stroke: black;
}

svg.tempKey text {
    text-anchor: start;
    font-family: "Helvetica";
    font-size: 12px;
}

.errorCloseButton {
	position: absolute;
	top: 0;
	right: -0.7em;
	color: grey;
}

#subPanelLimiter {
	position: absolute;
	pointer-events: none;
	top: 39px;
	bottom: 65px;
	left: 0;
	right: 0;
}

.rappsilberImage {
	display: block;
	border-top: 1px solid white;
	padding: 0.5em 0;
}

.rappsilberImage:hover {
	-webkit-filter: invert(1);
	filter: invert(1);
	background: black;
}

select {
	color: #091d42;
	border-color: #091d42;
	font-family: Lato-Bold;
}

/*
label.selectHolder select {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}
*/

input {
	color: #091d42;
	font-family: Lato-Bold;
}

sup {font-size:xx-small; vertical-align:super;}

.smallHeading {
	margin-top: 0.5em;
	font-size: 0.75em;
	color: #668;
	line-height: 1.4em;
}

.smallHeadingBar {
    background: rgba(0,0,0,0.1);
}

.btn-tight {
	margin: 0;
	padding: 2px 2px;
	border: 1px solid grey;
}

.rainbow {
    width: 4em;
    height: 1em;
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
    margin-left: -1.5em;
	/* generated at http://www.colorzilla.com/gradient-editor/ */
	background: -moz-linear-gradient(left, #fc3932 0%, #e4e82c 25%, #20cc3d 50%, #0436ea 75%, #f986bc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fc3932 0%,#e4e82c 25%,#20cc3d 50%,#0436ea 75%,#f986bc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fc3932 0%,#e4e82c 25%,#20cc3d 50%,#0436ea 75%,#f986bc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.testTopLeft {
	position: absolute;
	z-index: 5000;
	top: 0;
	left: 0;
	background: white;
}

input:invalid:focus {
	background: pink;
}

image.sharpImage {
    image-rendering: optimizeSpeed; 
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}