@charset 'UTF-8';
@import url("font-awesome.min.css");
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/lato/bold/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/bold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/bold/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/bold/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato/bold/Lato-Bold.svg#svgLato-Bold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/lato/regular/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/regular/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/regular/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS  */
       url('../fonts/lato/regular/Lato-Regular.svg#svgLato-Regular') format('svg');  /* Legacy iOS */ 
}

/* Common */
body, html{
    background: #fff;
    height:100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;   
}
body, input, select, textarea {
    Font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
	font-size: 13pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
	-webkit-text-stroke: .15px;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.page-header {
    background-color: #091D42;
    color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Btn */
.btn {
	height: 32px;
    border: none;
    font-family: inherit;
    font-size: 0.8em;
    color: inherit;
    background: 0 0;/*#091D42;*/
    cursor: pointer;
    padding: 5px 25px;
    margin: 0 5px 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn-1 {
    border: 1px solid #fff;
    color: #fff;
}
.btn-1a:active, .btn-1a:hover {
    color: #091D42;
    background: #fff;
}

/*tables*/
table {
	width:100%;
    font-size: 0.9em;
    left: auto;
	margin:20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
}
thead{
	margin-top:10px;
	margin-bottom:10px;
}
th{
	padding-left:5px;
	padding-right:5px;
}
td{
	padding-left:5px;
	padding-right:5px;
}
th:first-child{
	padding-left:20px;
}
th:last-child{
	padding-right:20px;
}
td:first-child{
	padding-left:20px;
}
td:last-child{
	padding-right:20px;
}
.overlay-box th {
    font-weight: 400;
    color: #039;
    padding: 10px 8px;
    border: 0;
}
.overlay-box thead td {
    color: #091D42;
}
.overlay-box td, .helpPanel td {
    color: #777;
    padding: 9px 8px 0;
    border: 0 solid #eee;
}
tbody tr:hover td, tbody tr:hover td a{
    color: #fff;
    background-color: #091D42;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}


/* fa */
.fa-home{
	font-size:1.5em;
	padding:4px;
	vertical-align:middle;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
	cursor:pointer;
}
.fa-home:hover {
	color: #091D42;
	background:white;
}
.fa-times-circle{
	vertical-align:baseline;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
	cursor:pointer;
	float:right;
	margin:2px;
}
.fa-times-circle:hover {
	color: #091D42;
	background:white;
}



/* history page */
.tableContainer a {
    color:#091D42;
    text-decoration: underline;
     -webkit-transition: all 200ms ease-in-out;
       -moz-transition: all 200ms ease-in-out;
       -ms-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
       transition: all 200ms ease-in-out;
}
.tableContainer a:hover {
    color: #ffffff!important;
    background-color: #091D42;
}
.clearChx{
	background:#091D42;
}
.chkbx_td, th{
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}
.dynamic-table-filter{
	margin:auto;
}

/* network page */
#main{
    height:100%;
    width:100%;
    overflow:hidden;
	z-index:-1;
}
.page-header p{
	display: inline-block;
	padding-right:1px;
	padding-left:10px;
}
#topDiv {
	overflow:hidden;
}
#topLeftDiv {
	overflow:hidden;
	float:left;
	width:50%;
	height:100%
}
#topRightDiv {
	float:right;
	width:50%;
	height:100%;
/* causes NGL to fail?
	margin:10px;
*/
}
.horizontalSplitter {
    height: 20px;
    background: rgba(9, 29, 66, 1);
    margin-left: 40px;
    margin-right: 40px;
    cursor:ns-resize;
}
#bottomDiv {
	height:200px;
	padding-top:2px;
	overflow: auto;
}
.overlay-box {
    background: rgba(9, 29, 66, 0.9);
	overflow: scroll;   
    color: #fff;
    padding: 20px;
    line-height: 1.5;
    z-index: -1;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}
.controls{
    clear: both;
    overflow: hidden;
    display: block;
    left: 0px;
    position: fixed;
	bottom: 0px;
    right: 0px;
    background:#ecedf2;
    color:#091D42;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
	padding-left: 60px;
	padding-right: 60px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#slide {
    background: none;
    position: relative;
    border: none;
    margin-top:5px;
    display: inline-block;
}
p#scoreLabel2.scoreLabel {
    position: relative;
    left:-10px;
    display: inline-block;
}
#scoreSlider {
    vertical-align: top;
    position: relative;
    display: inline-block;
}
#cutoffLabel {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
#scoreLabel1 {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
#scoreLabel2 {
    position: relative;
    display: inline-block;
    left: 20px;
    top: 0px;
    vertical-align: top;
}
.dynDiv_setLimit{
	height:100%;
	width:100%;
	z-index:2;
	position:fixed;
	pointer-events:none;
}
.dynDiv_moveDiv{
	padding:20px;
	padding-top:0px;
	background: rgba(9, 29, 66, 0.9);
	overflow: hidden;
	color:#fff;
	position:fixed;
	pointer-events:all;
}
.dynDiv_moveParentDiv{
	height:20px;
	background:#091D42;
}
.dynDiv_resizeDiv_tl, .dynDiv_resizeDiv_tr, .dynDiv_resizeDiv_bl, .dynDiv_resizeDiv_br{
	width:20px;
	height:20px;
	background:#091D42;
	border:none;
}
#legend{
    background: white;
}
#logo{
    display: block;
    padding-top:5px;
}
#helpPanel{
/*
	position: fixed;
	right: 0px;
	top:-95px;
	height: 0px;
	width: 460px;
	overflow: hidden;
*/
}

#spectrum_inner_div, #colours{
	margin:20px;
	margin-right:20px;
}
#graphDiv{

	height:calc(100% - 110px);
}
.axis{
	fill:white;
}
#pepFragDiv{
	width:400px;
	height:70px;
}
