@charset 'UTF-8';
@import url("font-awesome.min.css");
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/lato/bold/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/bold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/bold/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/bold/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato/bold/Lato-Bold.svg#svgLato-Bold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/lato/regular/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/regular/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/regular/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS  */
       url('../fonts/lato/regular/Lato-Regular.svg#svgLato-Regular') format('svg');  /* Legacy iOS */ 
}
html{
/*
    background: #fff;
*/
    height:100%;
/*
    overflow:hidden;
*/
}
body{
    background: #fff;
    height:100%;
    overflow:hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;   
}

body, input, select, textarea {
    font-family: "Lato-Regular", sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
	-webkit-text-stroke: .15px;
}

#main{
    height:100%;
    width:100%;
    position:fixed;

}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.tableContainer{
}
table {
	width:100%;
}
thead{
	margin-top:10px;
	margin-bottom:10px;
}
th:first-child{
	padding-left:20px;
}
th:last-child{
	padding-right:20px;
}
td:first-child{
	padding-left:20px;
}
td:last-child{
	padding-right:20px;
}
.chkbx_td, th{
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

.fa-arrow-circle-up{
	font-size:2em;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
	padding:4px;
	vertical-align:middle;
}
.fa-arrow-circle-down{
	font-size:2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
	padding:4px;
	vertical-align:middle;
}
.fa-arrow-circle-up:hover{
	color: #fdc086;
}
.fa-arrow-circle-down{
	color:#fdc086;
}

.fa-home{
	font-size:1.5em;
	padding:4px;
	vertical-align:middle;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
	cursor:pointer;
}
.fa-home:hover {
	color: #091D42;
	background:white;
}

.page-header p{
	display: inline-block;
	padding-right:1px;
	padding-left:10px;
}

#topDiv {
	overflow:hidden;
}

#topLeftDiv {
	overflow:hidden;
	float:left;
	width:50%;
	height:100%
}
#topRightDiv {
	float:right;
	width:50%;
	height:100%;
/* causes NGL to fail?
	margin:10px;
*/
}



.horizontalSplitter {
    height: 20px;
    background: rgba(9, 29, 66, 1);
    margin-left: 40px;
    margin-right: 40px;
    cursor:ns-resize;
}

#bottomDiv {
height:200px;
padding-top:2px;
overflow: auto;
}

#helpPanel{
	position: fixed;
	right: 0px;
	top:-95px;
	height: 0px;
	z-index: 1;
	width: 460px;
	overflow: hidden;
/*
	font-size: 1em
*/
}


#legendPanel{
	position: fixed;
	left: 0px;
	top:-95px;
	height: 0px;
	z-index: 1;
	overflow: hidden;
}

#spectrum{
	padding:0px;
	background: rgba(9, 29, 66, 0.9);
	overflow: auto;
	color:#fff;
/*
	height:500px;
	width:600px;
*/
}
#spectrum_inner_div{
	margin-left:20px;
	margin-right:20px;
/*
	color: #777;
	background:#fff;
*/
/*
		width:100%;
*/
	height:100%;
/*
	width:400px;
*/
}
#graphDiv{
/*
	width:100%;
*/
	height:calc(100% - 110px);
}
.axis{
	fill:white;
}
#pepFragDiv{
	width:400px;
	height:70px;
}

.ui-resizable-se{
	height:20px;
	width: 100%;
}
.ui-icon-gripsmall-diagonal-se { 
/* COL
background-position: -64px -224px; 
*/
width:100%;
height:20px;
 background: rgba(9, 29, 66, 1);
 cursor:se-resize;
   
}
.ui-draggable-handle{
	cursor:move;
}
.ui-widget-header {
/*
	border: 1px solid #e78f08;
*/
	background: #091D42;
}


.ui-widget-content {
	background: #ecedf2;
	color: #091D42;
	line-height: 1.5;
	text-align: left;
}

#wrapper
{
	overflow: hidden;
/*
	height: 95%;
*/
	right:0px;
/*
	left:0px;
*/
	top:0px;
	bottom: 40px;
/*
	width: 100%;
*/
	position:fixed;
}
h1, h2, h3, h4, h5, h6 {
/*
    font-weight: 200;
*/
    color: #666;
    line-height: 1.75em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
    font-weight: 300;
}
h2 {
    font-size: 2em;
    letter-spacing: -1px;
}
h2.alt {
    color: #888;
}
h2.alt strong {
    color: #666;
}
h3 {
/*
    font-size: 1.5em;
*/
}
option {
  color: #091D42;
}
header {
    margin: 0 0 2em;
}
footer {
    margin: 2em 0 0;
}
b, strong {
    font-weight: 300;
    color: #666;
}
em, i {
    font-style: italic;
}
#main h1 a, #main h2 a, #main h3 a, #main h4 a, #main h5 a, #main h6 a {
    text-decoration: none;
    color: inherit;
    border-bottom: dotted 1px rgba(128, 128, 128, .5);
    -moz-transition: color 200ms ease-in-out, border-bottom-color .35s ease-in-out;
    -webkit-transition: color 200ms ease-in-out, border-bottom-color .35s ease-in-out;
    -o-transition: color 200ms ease-in-out, border-bottom-color .35s ease-in-out;
    -ms-transition: color 200ms ease-in-out, border-bottom-color .35s ease-in-out;
    transition: color 200ms ease-in-out, border-bottom-color .35s ease-in-out;
    outline: 0;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#main a:hover {
    border-bottom-color: rgba(255, 255, 255, 0);
}
sub {
    position: relative;
    top: .5em;
    font-size: .8em;
}
sup {
    position: relative;
    top: -.5em;
    font-size: .8em;
}
hr {
    border: 0;
    border-top: solid 1px #ddd;
}
blockquote {
    border-left: solid .5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}
br.clear {
    clear: both;
}
*, ::before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
}

.page-header {
    background-color: #091D42;
    color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.controlsexamplespage {
    clear: both;
    overflow: hidden;
    display: block;
    left: 0px;
    position: fixed;
	bottom: 0px;
    z-index: 11;
    right: 0px;
    background:#ecedf2;
    color:#091D42;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
	padding-left: 60px;
	padding-right: 60px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#track1 {
    position:relative;
    margin-left: 0px;
}
#scoreSlider {
    vertical-align: top;
    position: relative;
    display: inline-block;
}
#cutoffLabel {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
#scoreLabel1 {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
#scoreLabel2 {
    position: relative;
    display: inline-block;
    left: 20px;
    top: 0px;
    vertical-align: top;
}
form table td {
    margin: 0;
    padding: 0;
}
form table td {
    margin: 0;
    padding: 0;
}

.btn {
	height: 32px;
    border: none;
    font-family: inherit;
    font-size: 0.8em;
    color: inherit;
    background: 0 0;/*#091D42;*/
    cursor: pointer;
    padding: 5px 20px;
/*
    margin: 0 5px 0 0;
*/
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn-1 {
    border: 1px solid #fff;
    color: #fff;
}
.btn-1a:active, .btn-1a:hover {
    color: #091D42;
    background: #fff;
}
.btn-1a-inverse:active, .btn-1a-inverse:hover {
    color: #091D42;
    background: #fff;
    border: 1px solid #091D42;
}
.btn-1a-inputbtn {
    border: none;
}
.btn-1a-inputbtn:active, .btn-1a-inputbtn:hover {
    color: #fff;
    background: #091D42;
    margin: 0;
    padding: 0;
}

.ui-button {
    background: #091D42;
    cursor: pointer;
    padding: 0px 10px;
/*
    float:right;
*/
    margin: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    border:none;
/*
    outline: 0;
*/
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.ui-button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.ui-button:active, .ui-button:hover {
    color: #091D42;
    background: #fff;
}

.ui-icon-closethick:before{
font-family: FontAwesome;
content: "\f057";
font-size:1.4em;
}
.ui-button-text {
    display:none;
}
.ui-dialog-title {
/*
    display:none;
*/
}

/*
.btn-1a-inverse:active, .btn-1a-inverse:hover {
    color: #091D42;
    background: #fff;
    border: 1px solid #091D42;
}
.btn-1a-inputbtn {
    border: none;
}
.btn-1a-inputbtn:active, .btn-1a-inputbtn:hover {
    color: #fff;
    background: #091D42;
    margin: 0;
    padding: 0;
}
*/
.overlay-box {
/*
	font-size: 13pt;
*/
    background: rgba(9, 29, 66, 0.9);
/*
    border-top: 20px solid rgba(9, 29, 66, 0.9);
*/
	overflow: scroll;   
    color: #fff;
    padding: 20px;
    line-height: 1.5;
    z-index: -1;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}
.noMarg{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 60px;
    padding-right: 60px;
}
#legend{
    background: white;
}
#logo{
    display: block;
    padding-top:5px;
}
.overlay-box ul {
    position: relative;
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.overlay-box ul li {
    position: relative;
    margin-bottom: 10px;
}
.overlay-box-bg {
    position: fixed;
    height: 100%;
    width: 500px;
    z-index: 998;
    margin-top: 60px;
    top: 50%;
    left: 229px;
    color: #fff;
}

p.citation {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: -40px;
}
.citation a {
    color: #091D42;
    text-decoration: none;
       -webkit-transition: all 200ms ease-in-out;
       -moz-transition: all 200ms ease-in-out;
       -ms-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
       transition: all 200ms ease-in-out;
}
.citation a:hover {
    color: white!important;
    background-color: #091D42;
}
.overlay-box a {
    color: #fff;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.overlay-box a:hover {
    color: #091D42;
    background-color: #fff;
    text-decoration: none;
    padding: 2px 0;
}
.overlay-box h5,
.overlay-box h6 {
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
}
.overlay-box h4 {
    color: #fff;
}
.overlay-box table {
    font-size: 0.9em;
    left: auto;
    right: auto;
/*
    top: 10px;
*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    text-align: left;
}
.overlay-box th {
/*
    font-size: 14px;
*/
    font-weight: 400;
    color: #039;
    padding: 10px 8px;
    border: 0;
}
.overlay-box thead td {
    color: #091D42;
}
.overlay-box td {
    color: #777;
    padding: 9px 8px 0;
    border: 0 solid #eee;
}
.controls-box-one {
    position: relative;
    width: 375px;
    display: inline-block;
}
p#scoreLabel1.scoreLabel {
   position: relative;
   display: inline-block;
   margin-left:20px;
}
#slide {
    background: none;
    position: relative;
    border: none;
/*
    width: 50%;
*/
    margin-top:5px;
    display: inline-block;
}
p#scoreLabel2.scoreLabel {
    position: relative;
    left:-10px;
    display: inline-block;
}
.controls-box-two {
    width: 300px;
    position: relative;
    display: inline-block;
}
.controls-box-three {
    width: 200px;
    position: relative;
    display: inline-block;
}
tbody tr:hover td, tbody tr:hover td a{
    color: #fff;
    background-color: #091D42;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.overlay-table {
    left: auto;
    right: auto;
/*
    font-size: 1em;
*/
    cursor: default;
    color: #fff;
    position: relative;
    margin-left: auto;
    background-color: #091D42;
    margin-right: auto;
    border-collapse: collapse;
}
.overlay-table th {
    color: #039;
    padding: 10px 8px;
}
.overlay-table thead td {
    color: #091D42;
}
.overlay-table td {
    color: #777;
    padding: 9px 8px 0;
    border: 0 solid #eee;
}
.overlay-table tbody tr:hover td {
    color: #fff;
    background-color: #091D42;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.tableContainer a {
    color:#091D42;
    text-decoration: underline;
     -webkit-transition: all 200ms ease-in-out;
       -moz-transition: all 200ms ease-in-out;
       -ms-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
       transition: all 200ms ease-in-out;
}
.tableContainer a:hover {
    color: #ffffff!important;
    background-color: #091D42;
/*
    text-decoration: none;
*/
}
