/* Colour Slider */

.threeColourSlider.verticalFlexContainer {
    height: calc(100% - 70px);
    width: 90px;
}

.threeColourSlider.horizontalFlexContainer {
    height: 50px;
    width: 100%;
	flex-flow: row-reverse;
}

.threeColourSlider.absolutePosition {
	position: absolute;
    top: 50px;
    right: 0;
}

.threeColourSlider input {
    flex-shrink: 0;
}

.threeColourSlider svg {
    flex-grow: 1;
}

.threeColourSlider rect {
    stroke: #444;
    stroke-width: 0.5px;
}

.threeColourSlider .resize path {
  fill: #aaa;
  stroke: #000;
  stroke-width: 0.5px;
	shape-rendering: crispEdges;
}

.threeColourSlider .resize path:hover {
	fill: white;
}

.threeColourSliderTitle {
    fill: #888;
    pointer-events: none;
    font-size: 0.8em;
}