/*
#main .mainContent {
	top:5px;
}
*/

#clearHighlights {
	display: none;
}

#filterModeDiv {
	display: none !important;
}

.movePeakLabels {
	display: none !important;
}

#spectrumControls {
	/*float:right;*/
    margin-left: auto;
    text-align: right;  /* fix for ie 11 */
    flex-shrink: 0;
}

#spectrumControlsTop, #spectrumControlsBottom {
    background-color: #091D42;
	display: inline-block;
	z-index: 51;
	position: relative;
}

.pageHeader, #spectrumControls > div {
    height: 35px;
    vertical-align: middle;
    border-bottom: none;
    line-height: normal;
}

:not(.dynDiv) > .dynDiv_moveParentDiv, :not(.dynDiv) > .draggableCorner {
	display: none;
}

#spectrum {
	width: 100%;
}
#spectrumPanel {
	width: 100%;
	height:100%;
/*
	padding: 0px 10px;
*/
}

#colorSelector{
	display: none;
}
#spectrumControls label#colorSelectorLabel{
	display: none;
}
#alternatives {
    background: rgba(9, 29, 66, 0.9);
    margin: 0 10px;
    /* height:150px; */ /* otherwise hide button doesn't work */
}

button {
    line-height: normal;
}

.xispec_subViewContent-plot {
	min-height: 1px;	/* fix for firefox and ie11, otherwise quality plots bounds push over into alternatives table */
}