/*
#main .mainContent {
	top:5px;
}
*/

#clearHighlights {
	display: none;
}

#filterModeDiv {
	display: none !important;
}

.movePeakLabels {
	display: none !important;
}

#spectrumControls {
	/*float:right;*/
    margin-left: auto;
    text-align: right;  /* fix for ie 11 */
    flex-shrink: 0;
}

#spectrumControlsTop {
	background-color: #091D42;
	display: inline-block;
/*
	padding:5px;
*/
}
#spectrumControlsBottom {
    background-color: #091D42;
	display: inline-block;
/*
	margin-left: 10px;
*/
}

.pageHeader, div#spectrumControlsTop, div#spectrumControlsBottom {
    height: 35px;
    vertical-align: middle;
    border-bottom: none;
}

.dynDiv_moveParentDiv{
	display: none;
}
.dynDiv_resizeDiv_tl, .dynDiv_resizeDiv_tr, .dynDiv_resizeDiv_bl, .dynDiv_resizeDiv_br{
	display:none;
}
#spectrum {
	width: 100%;
}
#spectrumPanel {
	width: 100%;
	height:100%;
/*
	padding: 0px 10px;
*/
}

#colorSelector{
	display: none;
}
#spectrumControls label#colorSelectorLabel{
	display: none;
}
#alternatives {
    background: rgba(9, 29, 66, 0.9);
    height:150px;
}
