.validationButton {
    width: 100%;
}

button.A:hover, button.A.validatedState, tr.A {
    background-color:#7fc97f;/*#4daf4a;*/
}

button.B:hover, button.B.validatedState, tr.B {
    background-color:#fdc086;/*#ff7f00;*/
}

button.C:hover, button.C.validatedState, tr.C {
    background-color:#ffff99;/*#ffff33;*/
}

button.Q:hover, button.Q.validatedState, tr.Q {
    background-color:lightgray;
}

button.R:hover, button.R.validatedState, tr.R {
    background-color:#e41a1c;
}

button.validatedState, tr.validatedState {
    border: 2px solid black;
}