.protein{
    cursor: crosshair;
    pointer-events: visible;
}

.link{
    cursor: crosshair;
    pointer-events: auto;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/*you need this to stop horrible looking flickering of text as you drag*/
svg {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.xlv_text
{
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

.xinetAxisLabel{
    pointer-events: none;
}

.xinetControls{
    width: 100%;
    background-color: #091D42;
    text-align:right;
    color: #fff;
    margin-right:5px;
}

.xinetButtonBar{
   height:37px;
}

.xinetControls form, .xinetControls input, .xinetControls label {
    margin-top: 11px;
}
/*.proteinScaleLabelText { font-size: 8pt; }*/

.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
/*
  font-family: sans-serif;
*/
  background: #FFF;
  color: #333;
  list-style: none;
  padding:0;
  margin: 0;
}

.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.custom-menu li:hover {
  background-color: #DEF;
}
