#validationStatus{
    display: none;
}
#fdrPanel{
    display: none;
}
#AA-Cross-linkable{
    display: none;
}
#AA-Digestible{
    display: none;
}
#navNumberFilters{
    display: none;
}
.validationControls{
    display: none;
}
